<div id="first-read">
    <div class="read-tips">
        <div class="read-tips-layout">
            <div class="rtl-head">Setting for the first time...</div>
            <div class="description">Select the reading mode you want. You can re-config in <strong class="ml-2"><i class="fas fa-cog mr-2"></i>Settings &gt; Reading Mode</strong>
            </div>
            <div class="rtl-rows">
                <a href="javascript:;" class="rtl-row mode-item" data-value="vertical">
                    <div class="rtl-btn rtl-ver">
                        <div class="rtl-container">
                            <span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                    <div class="label-row">Vertical Follow</div>
                    <div class="checked"><i class="fas fa-check-circle"></i></div>
                    <div class="clearfix"></div>
                </a>
                <a href="javascript:;" class="rtl-row mode-item" data-value="horizontal">
                    <div class="rtl-btn rtl-hoz">
                        <div class="rtl-container">
                            <span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                    <div class="label-row">Horizontal Follow</div>
                    <div class="checked"><i class="fas fa-check-circle"></i></div>
                    <div class="clearfix"></div>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div id="main-wrapper" class="page-layout page-read mb-0">
        <div class="page-read-setting">
            <div class="anis-cover" style="background-image: url({{book.cover_photo.url}})"></div>
        </div>
    </div>
</div>