{% load static %}
<div id="footer">
    <div id="footer-about">
        <div class="container">
            
                <div class="footer-top">
                    <a href="/" class="footer-logo">
                        <img src="{% static "imgs/logo.png" %}" alt="Logo">
                        <div class="clearfix"></div>
                    </a>
                </div>
            
            <div class="footer-links">
                <ul class="ulclear">
                    <li><a href="#" title="Terms of service">Terms of service</a></li>
                    <li><a href="#" title="DMCA">DMCA</a></li>
                    <li><a href="#" title="Contact">Contact</a></li>
                    <li><a href="#" title="Sitemap">Sitemap</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="about-text">
                Manreader does not store any files on our server, we only linked to the media which is hosted on 3rd
                party services.
            </div>
            <p class="copyright">© Manreader</p>
        </div>
    </div>
</div>