{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}ManReader - Error{% endblock title %}

{% block content %}
{% include "includes/header.html" %}
<div id="main-wrapper" class="page-layout page-404">
    <div class="container">
        <div class="container-404 text-center">
            <div class="c4-big-img"><img src="{% static "imgs/500.png" %}">
            </div>
            <div class="c4-medium">500 Error</div>
            <div class="c4-small">HTTP 500 Internal Server Error</div>
            <div class="c4-button">
                <a href="/" class="btn btn-radius btn-focus"><i class="fa fa-chevron-circle-left mr-2"></i>Back
                    to homepage</a>
            </div>
        </div>
    </div>
</div>
{% include "includes/footer.html" %}
{% endblock content %}